<ion-view view-title="Q AND ORDER">
    <ion-header-bar class="bar-positive">
       
    </ion-header-bar>
    <ion-content>
        <!-- Message Loading Popup -->
        <!-- <div style="margin:auto;width:50%;">
        <button ng-click="show()" class="button button-block button-calm">
          Click Me
        </button>
    </div>   -->
        <ion-list class="list-thumbnail list-clear">
            <img src="images/imgList/SizzlerPromotion9.png" alt="Photo" width="100%" height="200px">
            <div class="item item-divider item-calm">Restaurant</div>
            <a href="#/tabs/home/{{item.title}}">
                <img src="images/imgList/res_sizzler.png" alt="Photo" width="100%" height="150px">
            </a>
            <img src="images/imgList/res_pizzacompany1.png" alt="Photo" width="100%" height="150px"></a>
            <img src="images/imgList/res_swensen.jpg" alt="Photo" width="100%" height="150px">
        </ion-list>
    </ion-content>
</ion-view>
